<%= form_for(@pin) do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Words_on_Wrap %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.label :Send_Request %><br>
    <%= f.submit %>
  </div>
<% end %>



<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  
   
  </div>
  
</form>





<%= form_for(@pin, html: { class: "form-horizontal"} ) do |f| %>
  <% if @pin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>

      <h4><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h4>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<% end %>
