<h1>Requests</h1>
<li>Note that not all requests will be taken.  We will contact you should we accept a request</li>


<table class= "table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.description %></td>
       <td><%= time_ago_in_words pin.created_at %></td>
        <td><%= pin.user.try( :email ) %></td>

        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><a class="btn btn-primary btn-lg" role="button" href="/pins/new">Request</a>



<% if !user_signed_in? %>

 



<div class="jumbotron">
  <h1>Send us your ideas!</h1>
  <p>Sign up! (or Sign In!)<i></i></b>.</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<% end %>



