<!DOCTYPE html>
<html>
<head>


<style type="text/css">
<!--
BODY { 
background-image: url(http://thumbs.dreamstime.com/z/swirls-web-page-background-2-3131366.jpg); 
background-repeat: no-repeat; 
}
-->
</style>



<title>Pinterestforkittens</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

 <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  
  
</head>

<body>


<div class="container">

<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Word Wraps</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li> 
      <li><a href="/store">Store</a></li>

      <% if user_signed_in? %>
              <li><%= link_to "Account Settings", edit_user_registration_path %></li>

        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %> 


    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>







<%= yield %>
</div>

<footer id="page_footer">

        <div id="social_links" class="split">
          <a href="https://twitter.com/wordwraps" title="@wordwraps" id="twitter" class="social">Follow wordwraps on Twitter /</a>
          <a href="https://www.facebook.com/wordwraps" title="become a fan on facebook" id="facebook" class="social facebook">Become a fan /</a>
           <a href="http://www.amazon.com/Rainbow/b/ref=dp_apparel_byline_ety_s?ie=UTF8&node=2530285011&field-lbr_brands_browse-bin=Rainbow" title="amazon store" id="Amazon" class="social">Amazon Store /</a>
        </div><!-- /social_links -->
      </div>
       






      </footer>





</body>
</html>


